:root {
  --text-color: #000;
  --bg-color: #fff;
  --button-bg: #8672a5;
  --button-text: #fff;
}

.dark-mode {
  --text-color: #fff;
  --bg-color: #333;
  --button-bg: #444;
  --button-text: #fff;
}
#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  
  .logochat {
    height: 8em;
    padding: 1em;
    margin-top: -2em;
  }
  
  .button {
    background-color: var(--button-bg);
    border: none;
    color: var(--button-text);
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button:hover {
    background-color: #8672a5;
    color: white;
  }