#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  
  .logo {
    height: 10em;
    padding: 1em;
    margin-top: 2em;
    will-change: filter;
    transition: filter 300ms;
  }
  .cardLand {
    padding: 1em;
  }
  
  .under-text {
    color: #888;
  }
  
  .cardLand button {
    margin-top: 1em; 
  }
  
  